.story-card-container{
    padding: 2rem;
    background: white;
    border-radius: 5px;
    margin-bottom: 1rem;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    transition: 0.3s ease-in-out;
    .story-header{
        display: flex;
        align-items: left;
        justify-content: space-between;
        .title-wrap{
            width: 100%;
        }
        .story-points{
            display: flex;
            align-items: baseline;
            p{
                font-size: 2rem;
            }
            span{
                padding-left: 0.5rem;
                font-size: 0.8rem;
            }
            color: #f39c12
        }
        .story-title{
            opacity: 0.7;
            font-size: 2rem;
            font-weight: bold;
            text-align: center;
        }
    }
    .story-info{
        display: flex;
        align-items: center;
        justify-content: space-between;
        .story-author{
            opacity: 0.7;
            font-size: 1.2rem;
        }
    }
}

.story-card-container:hover{
    background: darken(white, 10%);
}