.story-modal-container{
    h2{

    }
    p{
        opacity: 0.8;
    }
    .close-modal{
        text-decoration: none;
        position: absolute;
        top: 1rem;
        right: 0;
        border: none;
        color: rgba(26, 26, 26, 0.6);
    }

    .loading-wrap{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}