$base-color: #f39c12;

.home-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    h2{
        color: $base-color;
        font-weight: bold; 
    }
    .loading-wrap{
        display: flex;
        justify-content: center;
        align-items: center;
        color:$base-color;
        height: 60vh;
    }
}
.story-container{
    width: 70%;
}